<div id="banner">
	<div id="banner-top"></div>
	<div id="banner-mid">
		<div id="banner-inner">
			<div id="banner-inner-left">
				<img src="http://placehold.it/70x115" style="float:left;margin-right:10px;"/>
				<h3>Sights Insider</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <a href="#">more</a></p>
			</div>
			 <div id="banner-inner-right"></div> 
		</div>
	</div>
	<div id="banner-btm"></div>
</div>

<div id="content-inner">
	<h1>Sightseeing: Spectacular Views</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<div class="div-row">
		<img src="http://placehold.it/575x373" class="img-left"/>
		<h2>Walking tours</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. </p>
	<button>Learn more</button>

	</div>

	<div class="div-row">
		<img src="http://placehold.it/575x373" class="img-right"/>
		<h2>Walking tours</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat.</p>
	<button>Learn more</button>
	</div>

	<div class="div-row">
		<img src="http://placehold.it/575x373" class="img-left"/>
		<h2>Walking tours</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat.</p>
	<button>Learn more</button>
	</div>

</div>