<!--
<div id="banner">
	<div id="banner-top"></div>
	<div id="banner-mid">
		<div id="banner-inner">
			<div id="banner-inner-left">
				<img src="http://placehold.it/70x115" style="float:left;margin-right:10px;"/>
				<h3>Sights Insider</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <a href="#">more</a></p>
			</div>
			<div id="banner-inner-right" class="border-red">
			   <%#= render 'layouts/searchbox' %>
			</div> 
		</div>
	</div>
	<div id="banner-btm"></div>
</div>
 -->
<style>
#banner {width:994px;float:left;position:relative;z-index:19;top:40px;left:11px;float:left;background-color:#f7efde;
				webkit-box-shadow: 0px 0px 5px #888888;
	   		-moz-box-shadow: 		0px 0px 8px #888888;
				box-shadow: 				0px 0px 8px #888888;}
/*
#banner-inner {width:994px;
											-webkit-box-shadow: 0px 0px 5px #888888;
	   									-moz-box-shadow: 		0px 0px 5px #888888;
											box-shadow: 				0px 0px 5px #888888;}*/

#banner-bottom {float:left;width:994px;height:16px;margin:40px 0 0 10px;background:url('assets/banner-flap2.png') 0px 0px repeat;}

</style>


 <div id="banner">
 	<div id="banner-inner">
 		<div style="padding:0 20px 0 10px;margin:0;width:675px;float:left;border-right:1px solid #f1e3c6;">
 			<h3>Sights Insider</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. <a href="#">more</a></p>

			</div>
			<div style="width:280px;float:right;">
				<%= render 'layouts/searchbox' %>
			</div>
 		
 	</div>
 	
 </div>
 <div id="banner-bottom">adsf</div>
 

