<div id="footer-container">
    <div id="footer">
      <a href="#" id="explore-mn"></a>
      <a href="#" id="local-maps"></a>
      <a href="#" id="reconnect"></a>
      <div id="mid-links">
        
        <div id="footer-col-1" class="footer-col">
          <h4><a href="#">Winona Now</a></h4>
          <ul>
            <li><a href="#">News coverage</a></li>
            <li><a href="#">Insider blogs</a></li>
            <li><a href="#">Event Calendar</a></li>
          </ul>
        </div>
        <div class="footer-divider"></div>
        <div id="footer-col-2" class="footer-col">
          <h4><a href="#">Connect with us</a></h4>
          <ul>
            <li><a href="#">Ask an expert</a></li>
            <li><a href="#">Social media</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Get our e-newsletter</a></li>
          </ul>
        </div>
        <div class="footer-divider"></div>
        <div id="footer-col-3" class="footer-col">
          <h4><a href="#">Plan your visit</a></h4>
          <ul>
            <li><a href="#">Local maps</a></li>
            <li><a href="#">Around the area</a></li>
            <li><a href="#">Community directory</a></li>
            <li><a href="#">Packages</a></li>
            <li><a href="#">Itenerary ideas</a></li>
          </ul>
        </div>
       <div class="footer-divider"></div>
        <div id="footer-col-4" class="footer-col">
        <h4><a href="#">Meet in Winona</a></h4>
          <ul>
            <li><a href="#">Meeting guide</a></li>
            <li><a href="#">Group tour planner</a></li>
            <li><a href="#">Meeting facilities</a></li>
          </ul></div>
      </div>  

      <div id="social">
        <a href="#" id="newsletter">Sign up for our e-newsletter</a>
        <ul>
          <li><a href="#" id="facebook"></a></li>
          <li><a href="#" id="pinterest"></a></li>
          <li><a href="#" id="twitter"></a></li>
          <li><a href="#" id="youtube"></a></li>
          <li><a href="#" id="rss"></a></li>

        </ul>
      </div>
    </div>

	</div>