<div id="header-container">
		<div id="header">
			<img src="assets/logo.png" alt="Visit Winona - Historic Island City" style="display:block;float:left;" />

			<ul id="utility-nav" style="">
				<li><a href="#">Home</a></li>
				<li><a href="#">Site map</a></li>
			</ul>
      <img src="assets/tagline.png" alt="spectacular BEAUTY, remarkable ARTS AND CULTURE, outdoor ADVENTURE"
      style="float:right;margin-top:-35px;"/>

      <div id="nav">
        <ul>
         <li><a href="#">Sightseeing<br /><span class="nav-sub">Spectacular Views</span></a></li>
         <li><a href="#">Signature Festivals<br /><span class="nav-sub">Beethoven to Bluegrass</span></a></li>
         <li><a href="#">Outdoor Recreation<br /><span class="nav-sub">Paddle, Climb, Hike or Relax</span></a></li>
         <li><a href="#">Arts And Heritage<br /><span class="nav-sub">Cultural Treasures</span></a></li>
         <li><a href="#">Food And Drink<br /><span class="nav-sub">Tastes of Winona</span></a></li>
         <li><a href="#">Hotels And B&amp;BS<br /><span class="nav-sub">Sweet Dreams</span></a></li>
        </ul>
      </div>
		</div>
	</div>